@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-white-color: #ffffff;
  --dark-white-color: #f3f3f3;
  --dark-color: #2f2f2f;
  --blue-color: #1d69d8;
  --light-blue-color: #4f7ab8;
}

.header {
  padding-top: 30px;
  background-color: var(--dark-white-color);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.header__logo-block {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-menu {
  display: none;
}

.header__tel {
  font-family: Inter;
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 111.1111111111%;
  line-height: 143%;
}

.menu__body {
  margin-right: 30px;
}

.menu__list {
  display: flex;
  gap: 11px;
}
.menu__list span {
  font-family: Inter;
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 113.3333333333%;
  line-height: 143%;
}

.header__social-icon {
  display: flex;
  gap: 9px;
}

.menu__link {
  font-family: Inter;
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 113.3333333333%;
  line-height: 143%;
  transition: font-weight 0.2s;
}
.menu__link:hover {
  font-weight: 600;
}

.header__btn {
  font-family: Inter;
  color: var(--bg-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 112.5%;
  padding: 15px 50px;
  line-height: 110%;
  border-radius: 40px;
  background: var(--blue-color);
  transition: background-color 0.3s;
  will-change: background-color;
}
.header__btn:hover {
  background-color: #104ea8;
}

@media (max-width: 1440.98px) {
  .header {
    padding-top: 27px;
  }
  .header__logo-image {
    max-width: 109px;
  }
  .menu__list {
    gap: 10px;
  }
  .menu__body {
    margin-right: 27px;
  }
  .icon-img {
    width: 23px;
    height: 23px;
  }
  .header__menu {
    gap: 18px;
  }
  .header__tel {
    font-size: 16px;
  }
  .header__social-icon {
    gap: 8px;
  }
  .header__btn {
    padding: 14px 45px;
  }
}
@media (max-width: 1200.98px) {
  .menu__body {
    margin-right: 18px;
  }
  .menu__body {
    margin-right: 10px;
  }
  .header__tel {
    font-size: 14px;
  }
  .header__btn {
    padding: 14px 40px;
  }
}
@media (max-width: 1150.98px) {
  .menu__body {
    display: none;
  }
  .burger__list {
    position: relative;
    width: 24px;
    height: 12px;
    cursor: pointer;
  }
  .burger__list span:nth-child(1) {
    display: inline-block;
    height: 2px;
    background: #1d69d8;
    transition: transform 0.4s;
    will-change: transform;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .burger__list span:nth-child(2) {
    display: inline-block;
    transition: scale 0.4s;
    will-change: scale;
    height: 2px;
    background: #1d69d8;
    transform: translate(0, -50%);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
  }
  .burger__list span:nth-child(3) {
    display: inline-block;
    height: 2px;
    background: #1d69d8;
    transform: translate(0);
    transition: all 0.4s;
    will-change: transform;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .burger__list.active {
    transition: transform 0.3s;
  }
  .burger__list.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .burger__list.active span:nth-child(2) {
    transform: scale(0);
  }
  .burger__list.active span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -2px);
  }
  .menu__icon.active {
    transform: translate(0, 0);
  }
  .menu__icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    width: 350px;
    height: 370px;
    border-radius: 10px;
    border: 2px solid black;
    top: 120px;
    right: 0px;
    padding: 25px;
    transform: translate(0px, 0px);
    background-color: var(--white-color);
    margin-right: 10px;
    transition: transform 0.3s ease 0s;
    transform: translate(120%, 0);
  }
}
@media (max-width: 694.98px) {
  .header__tel {
    display: none;
  }
  .header__social-icon {
    display: none;
  }
  .header__btn {
    padding: 10px 15px;
  }
}
@media (max-width: 375px) {
  .header {
    padding-top: 10px;
  }
  .header__content {
    height: 31px;
  }
  .header__logo-block {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
  .header__logo-image {
    max-width: 80px;
    height: 31px;
  }
  .header__btn {
    display: none;
  }
}
:root {
  --bg-white-color: #ffffff;
  --dark-white-color: #f3f3f3;
  --dark-color: #2f2f2f;
  --blue-color: #1d69d8;
  --light-blue-color: #4f7ab8;
}

[class*=__container] {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--bg-white-color);
}

body {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

:root {
  --bg-white-color: #ffffff;
  --dark-white-color: #f3f3f3;
  --dark-color: #2f2f2f;
  --blue-color: #1d69d8;
  --light-blue-color: #4f7ab8;
}

.banner {
  background-color: var(--dark-white-color);
  border-radius: 0px 0px 40px 40px;
  padding: 60px 0 30px 0;
  height: auto;
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: 95px;
}

.banner__content-top {
  display: flex;
}

.banner__content-top-ls {
  flex: 0 1 1160px;
}

.banner__title {
  font-family: Raleway;
  color: var(--dark-color);
  font-size: 90px;
  font-weight: 500;
  line-height: 100%;
  line-height: 110%;
  text-align: left;
  margin-bottom: 30px;
}
.banner__title p {
  display: none;
}
.banner__title > span:nth-child(2) {
  width: 600px;
  border-radius: 200px;
  background: var(--bg-white-color);
  padding: 0 20px;
}
.banner__title > span:nth-child(3) {
  opacity: 0.3;
}
.banner__title > span:nth-child(4) {
  padding-left: 20px;
}
.banner__title > span:last-child {
  color: var(--blue-color);
}

.banner__subtitle {
  display: flex;
  justify-content: center;
  max-width: 393px;
  flex-direction: column;
  gap: 26px;
  font-family: Inter;
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  line-height: 143%;
  text-align: left;
  margin: 0 auto;
}

.banner__content-top-rs {
  flex: 1 0 auto;
}

.banner__content-top-min {
  display: none;
}

.text-min-banner-3 {
  max-width: 453px;
}

.circle_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 374px;
  height: 374px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid var(--bg-white-color);
  background: rgba(255, 255, 255, 0.25);
}

.circle_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 328px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid var(--bg-white-color);
  background: rgba(255, 255, 255, 0.3);
}

.banner__block-btn {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--bg-white-color);
  max-width: 325px;
  gap: 15px;
  border-radius: 200px;
}
.banner__block-btn p {
  font-family: Inter;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  line-height: 110%;
  text-decoration-line: line-through;
}
.banner__block-btn::after {
  content: "От 2500₽";
  position: absolute;
  right: -85px;
  top: 50%;
  transform: translate(0, -50%);
  font-family: Inter;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  line-height: 110%;
}

.banner__content-bottom {
  display: flex;
  flex-wrap: nowrap;
  height: 311px;
  gap: 30px;
}

.banner__content-min {
  width: 755px;
  display: flex;
  gap: 29px;
}

.text-min-banner-1 {
  max-width: 301px;
}

.text-min-banner-2 {
  max-width: 311px;
}

.banner__bottom-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 0 1 363px;
  background-color: var(--bg-white-color);
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 21px;
  padding-bottom: 20px;
}

.banner__bottom-item-title {
  font-family: Raleway;
  color: var(--dark-color);
  font-size: 30px;
  font-weight: 600;
  line-height: 100%;
  line-height: 120%;
  text-align: left;
  max-width: 269px;
}

.banner__bottom-item-text {
  font-family: Inter;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  line-height: 143%;
  text-align: left;
}

.banner__arrow-btn {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: var(--blue-color);
  background-image: url("../../assets/icon/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.banner__content-max {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 755px;
  background-color: var(--bg-white-color);
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 21px;
  overflow: hidden;
}
.banner__content-max img {
  position: absolute;
  width: auto;
  height: auto;
  top: -11%;
  right: -7%;
}

@media (max-width: 1556.98px) {
  .banner {
    padding: 54px 0 30px 0;
  }
  .banner__content {
    gap: 86px;
  }
  .banner__title {
    font-family: Raleway;
    color: var(--dark-color);
    font-size: 81px;
    font-weight: 500;
    line-height: 100%;
    line-height: 110%;
    margin-bottom: 27px;
  }
  .circle_1 {
    width: 337px;
    height: 337px;
    border-radius: 50%;
  }
  .circle_2 {
    width: 295px;
    height: 295px;
    border-radius: 50%;
  }
  .circle_2 img {
    width: 259px;
    height: 259px;
  }
  .banner__subtitle {
    display: flex;
    justify-content: center;
    max-width: 330px;
    gap: 25px;
    font-family: Inter;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    line-height: 143%;
  }
  .banner__btn {
    font-size: 15px;
  }
  .banner__block-btn {
    position: relative;
    max-width: 293px;
    gap: 13px;
    border-radius: 180px;
  }
  .banner__block-btn p {
    font-family: Inter;
    color: var(--dark-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    line-height: 110%;
  }
  .banner__block-btn::after {
    content: "От 2500₽";
    position: absolute;
    right: -75px;
    top: 50%;
    transform: translate(0, -50%);
    font-family: Inter;
    color: var(--blue-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    line-height: 110%;
  }
}
@media (max-width: 1440.98px) {
  .banner__content-bottom {
    gap: 25px;
    height: 282px;
  }
  .banner__content-min {
    width: 688px;
    gap: 25px;
  }
  .banner__bottom-item {
    display: flex;
    gap: 0;
    flex: 0 1 331px;
  }
  .banner__bottom-item-title {
    font-family: Raleway;
    color: var(--dark-color);
    font-size: 27px;
    font-weight: 600;
    line-height: 100%;
    line-height: 120%;
    max-width: 269px;
    margin-bottom: 30px;
  }
  .banner__bottom-item-text {
    font-family: Inter;
    color: var(--dark-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    line-height: 143%;
    text-align: left;
    margin-bottom: 20px;
  }
  .text-min-banner-1 {
    max-width: 278px;
  }
  .text-min-banner-2 {
    max-width: 286px;
  }
  .text-min-banner {
    max-width: 419px;
  }
  .banner__arrow-btn {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-image: url("../../assets/icon/arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .banner__content-max {
    gap: 0;
    flex: 0 1 687px;
  }
  .banner__content-max img {
    position: absolute;
    width: 268px;
    height: auto;
    top: -9%;
    right: -8%;
  }
}
@media (max-width: 1408px) {
  .banner__content {
    gap: 71px;
  }
  .banner__title {
    font-family: Raleway;
    color: var(--dark-color);
    font-size: 69px;
    font-weight: 500;
    line-height: 100%;
    line-height: 110%;
    margin-bottom: 27px;
  }
  .circle_1 {
    width: 272px;
    height: 272px;
  }
  .circle_2 {
    width: 238px;
    height: 238px;
  }
  .circle_2 img {
    width: 209px;
    height: 209px;
  }
}
@media (max-width: 1342.98px) {
  .banner__bottom-item-title {
    font-size: 22px;
    max-width: 230px;
  }
  .banner__bottom-item-text {
    max-width: 369px;
  }
  .banner__content-bottom {
    height: 291px;
  }
}
@media (max-width: 1200.98px) {
  .text-min-banner-1 {
    max-width: 200px;
  }
}
@media (max-width: 1194.98px) {
  .banner__content {
    gap: 61px;
  }
  .banner__title {
    font-family: Raleway;
    color: var(--dark-color);
    font-size: 59px;
    font-weight: 500;
    line-height: 100%;
    line-height: 110%;
    margin-bottom: 27px;
  }
  .circle_1 {
    width: 229px;
    height: 229px;
  }
  .circle_2 {
    width: 201px;
    height: 201px;
  }
  .circle_2 img {
    width: 176px;
    height: 176px;
  }
  .banner__title {
    margin-bottom: 30px;
  }
  .banner__title > span:nth-child(2) {
    padding: 0 10px;
  }
  .banner__title > span:nth-child(4) {
    padding-left: 10px;
  }
}
@media (max-width: 1188.98px) {
  .banner__content-bottom {
    height: 312px;
  }
  .banner__content-min {
    flex-direction: column;
    gap: 20px;
  }
  .banner__bottom-item {
    position: relative;
    height: 146px;
  }
  .banner__bottom-item-title {
    min-width: 100%;
    margin-bottom: 20px;
  }
  .text-min-banner-1 {
    min-width: 336px;
  }
  .banner__arrow-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .banner__content-max {
    height: 312px;
  }
  .banner__content-max img {
    position: absolute;
    width: 142px;
    height: auto;
    top: 52%;
    right: 0%;
  }
  .text-min-banner-3 {
    max-width: 416px;
    margin-bottom: 94px;
  }
  .header__btn {
    text-align: center;
  }
}
@media (max-width: 1007.98px) {
  .banner {
    padding: 30px 0 25px 0;
  }
  .banner__title p {
    display: block;
    padding-left: 10px;
    opacity: 0.3;
  }
  .banner__title > span:nth-child(3) {
    display: none;
  }
}
@media (max-width: 927.98px) {
  .banner__content-bottom {
    height: auto;
    gap: 20px;
    flex-direction: column;
  }
  .banner__content-min {
    width: 100%;
  }
  .banner__arrow-btn {
    position: static;
  }
  .banner__bottom-item {
    max-height: 221px;
    padding: 20px;
  }
  .banner__content-max {
    width: 100%;
    max-height: 340px;
    padding: 20px;
  }
  .banner-card-btn {
    padding: 14px 45px;
  }
}
@media (max-width: 694.98px) {
  .banner__block-btn {
    position: relative;
    max-width: 238px;
  }
  .banner__title {
    font-family: Raleway;
    color: var(--dark-color);
    font-size: 42px;
    font-weight: 500;
    line-height: 100%;
    line-height: 110%;
  }
  .banner__title > span:nth-child(2) {
    display: block;
    box-sizing: content-box;
    max-width: 270px;
  }
  .banner__content-top-rs {
    display: none;
  }
  .banner__subtitle {
    margin: 0;
  }
  .banner__content-top-min {
    display: block;
    width: 282px;
    height: 282px;
    box-sizing: border-box;
    border: 0.81px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    margin-bottom: 20px;
    margin: 15px auto 20px auto;
  }
  .circle_min-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle-min-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 246px;
    box-sizing: border-box;
    border: 0.81px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
  }
  .circle-min-2 img {
    width: 217px;
    height: 214px;
    border-radius: 50%;
  }
}
@media (max-width: 512.98px) {
  .banner {
    padding: 10px 0 10px 0;
  }
  .banner__content {
    gap: 61px;
  }
  .banner__title {
    font-family: Raleway;
    color: var(--dark-color);
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -2px;
    line-height: 110%;
    margin-bottom: 15px;
  }
  .banner__title > span:nth-child(2) {
    display: block;
    box-sizing: content-box;
    max-width: 186px;
  }
  .banner__block-btn {
    min-width: 100%;
    background-color: inherit;
    gap: 0;
  }
  .banner__block-btn p {
    display: none;
  }
  .banner__block-btn::before {
    content: "От 5000₽";
    position: absolute;
    right: -20px;
    top: 80%;
    transform: translate(0, -80%);
    font-family: Inter;
    color: var(--dark-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    text-decoration: line-through;
    opacity: 0.3;
    line-height: 110%;
  }
  .banner__block-btn::after {
    content: "От 2500₽";
    position: absolute;
    right: -20px;
    top: 20%;
    transform: translate(0, -20%);
    font-family: Inter;
    color: var(--blue-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    line-height: 110%;
  }
  .banner__btn {
    width: 287px;
    text-align: center;
    padding: 14px 45px;
  }
}
@media (max-width: 425px) {
  .banner__bottom-item-title {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .text-min-banner-1 {
    min-width: 0;
    max-width: 280px;
  }
  .text-min-banner-2 {
    max-width: 330px;
  }
  .banner-card-btn {
    display: block;
    width: 207px;
    padding: 14px 40px;
  }
  .banner__content-max img {
    position: absolute;
    width: 193px;
    height: auto;
    top: 40%;
    right: -11%;
  }
}
@media (max-width: 375px) {
  .banner__btn {
    display: block;
  }
  .banner__title {
    font-family: Raleway;
    color: var(--dark-color);
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    line-height: 110%;
    margin-bottom: 15px;
  }
  .banner__title > span:nth-child(2) {
    display: block;
    box-sizing: content-box;
  }
}
:root {
  --bg-white-color: #ffffff;
  --dark-white-color: #f3f3f3;
  --dark-color: #2f2f2f;
  --blue-color: #1d69d8;
  --light-blue-color: #4f7ab8;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5215686275);
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup.open .item-popup-content {
  transform: translate(0px, 80px);
  opacity: 1;
}

.popup__content {
  position: relative;
  z-index: 9999;
  padding: 62px 50px 55px 50px;
  background-color: white;
  color: #000;
  max-width: 569px;
  border-radius: 4px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

:root {
  --bg-white-color: #ffffff;
  --dark-white-color: #f3f3f3;
  --dark-color: #2f2f2f;
  --blue-color: #1d69d8;
  --light-blue-color: #4f7ab8;
}