@import "../components/ui";

//=======================================================================
.footer {
	background-color: var(--dark-white-color);
}
.footer__content {
	margin: 30px 0 40px 0;
	@include flexbox;
	justify-content: space-between;
}
.footer__content-ls {
	background-color: var(--bg-white-color);
	flex: 0 1 75%;
	border-radius: 30px;
	padding: 25px 20px 20px 25px;
	@include flexbox;
	justify-content: space-between;
}
.block-text {
	@include flexbox;
	flex-direction: column;
	gap: 40px;
	flex: 0 0 424px;
}
.block-text__title {
	h6 {
		@include textDefault($ff2, var(--dark-color), 20px, 600, 20px);
		line-height: 120%;
		text-align: left;
		margin-bottom: 10px;
	}
}
.block-text__tel {
	@include textDefault($ff1, var(--blue-color), 45px, 600, 45px);
	line-height: 120%;
	text-align: left;
}
.block-text__email {
	p {
		@include textDefault($ff2, var(--dark-color), 20px, 600, 20px);
		line-height: 120%;
		text-align: left;
		margin-bottom: 10px;
	}
	a {
		@include textDefault($ff1, var(--blue-color), 20px, 400, 20px);
		font-weight: 400;
		line-height: 120%;
		text-align: left;
	}
}
address {
	@include textDefault($ff1, var(--blue-color), 20px, 400, 20px);
	line-height: 140%;
	text-align: left;
	font-style: normal;
}
.block-text__adress {
	p {
		@include textDefault($ff2, var(--dark-color), 20px, 600, 20px);
		line-height: 120%;
		text-align: left;
		margin-bottom: 10px;
	}
}
.footer__block-map {
	position: relative;
	max-width: 100%;
	border-radius: 20px;
	img {
		width: 100%;
	}
}
.license {
	background-color: var(--bg-white-color);
	border-radius: 30px;
	padding: 30px;
	flex: 0 1 24%;
}
.license__block {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 26px;
	a img {
		width: 100%;
	}
	h4 {
		@include textDefault($ff2, var(--dark-color), 20px, 600, 20px);
		line-height: 120%;
		text-align: left;
	}
}
.yandex-map {
	iframe {
		height: 400px;
	}
}
@media (max-width: 1430px) {
	.yandex-map {
		iframe {
			width: 500px;
			height: 360px;
		}
	}
}
@media (max-width: 1300px) {
	.yandex-map {
		iframe {
			width: 380px;
			height: 360px;
		}
	}
}
.footer__bottom-text {
	display: block;
	justify-content: center;
	text-align: center;
	margin-bottom: 20px;
	span {
		@include textDefault($ff1, var(--dark-color), 14px, 400, 14px);
		white-space: wrap;
	}
}
//=======================================================================
//=================================Footer Media==========================

@media (min-width: 1441px) {
	.license__block {
		a img {
			width: 100%;
			max-height: 188px;
		}
	}
}
@media (max-width: 1440px) {
	.block-text {
		gap: 35px;
	}
	.block-text__title {
		h6 {
			@include textDefault($ff2, var(--dark-color), 18px, 600, 18px);
			margin-bottom: 9px;
		}
	}
	.block-text__tel {
		@include textDefault($ff1, var(--blue-color), 40px, 600, 40px);
	}
	.block-text__email {
		p {
			@include textDefault($ff2, var(--dark-color), 18px, 600, 18px);
			margin-bottom: 8px;
		}
		a {
			@include textDefault($ff1, var(--blue-color), 18px, 400, 18px);
			text-align: left;
		}
	}
	address {
		@include textDefault($ff1, var(--blue-color), 18px, 400, 18px);
	}
	.block-text__adress {
		p {
			@include textDefault($ff2, var(--dark-color), 18px, 600, 18px);
			margin-bottom: 8px;
		}
	}
	.license {
		padding: 25px;
	}
}
@media (max-width: $md3) {
	.block-text {
		gap: 25px;
	}
}
@media (max-width: 1148px) {
	.block-text {
		gap: 0;
		max-width: 322px;
		justify-content: space-between;
	}
	.block-text__title {
		h6 {
			@include textDefault($ff2, var(--dark-color), 18px, 600, 18px);
		}
	}
	.block-text__tel {
		@include textDefault($ff1, var(--blue-color), 30px, 600, 30px);
	}
	.block-text__email {
		p {
			@include textDefault($ff2, var(--dark-color), 18px, 600, 18px);
			margin-bottom: 8px;
		}
		a {
			@include textDefault($ff1, var(--blue-color), 16px, 400, 16px);
			text-align: left;
		}
	}
	address {
		@include textDefault($ff1, var(--blue-color), 16px, 400, 16px);
	}
	.block-text__adress {
		p {
			@include textDefault($ff2, var(--dark-color), 18px, 600, 18px);
			margin-bottom: 8px;
		}
	}
	.license {
		padding: 30px 10px;
	}
	.license__block h4 {
		font-size: 16px;
	}
}
@media (max-width: 1002.98px) {
	.footer__block-map {
		display: none;
	}
}
@media (max-width: 755.98px) {
	.footer__content {
		flex-direction: column;
		gap: 20px;
	}
	.license__block h4 {
		font-size: 26px;
	}
	.footer__content-ls {
		flex-direction: column;
		gap: 20px;
	}
	.block-text {
		gap: 20px;
		max-width: 322px;
		flex: 0 0 auto;
		justify-content: normal;
	}
	.footer__block-map {
		display: block;
	}
	.yandex-map {
		iframe {
			width: 100%;
			height: 360px;
		}
	}
}
@media (max-width: 425.98px) {
	.footer__content {
		margin-bottom: 20px;
	}
	.footer__bottom-text {
		display: flex;
		flex-direction: column;
		gap: 5px;
		text-align: left;
		margin-bottom: 20px;
	}
}
@media (max-width: $minwidth) {
	.footer__block-map img {
		height: 294px;
		object-fit: cover;
	}
}
@media (max-width: 344px) {
	.block-text__tel {
		font-size: 24px;
	}
	.license__block h4 {
		font-size: 1em;
	}
}
//=======================================================================
