@import "../components/ui";
//=======================================================================
//=======================================================================

.banner {
	background-color: var(--dark-white-color);
	height: 70vh;
	border-radius: 0px 0px 40px 40px;
}
