@import "../components/ui";

//=======================================================================
//=======================================================================
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #00000085;
	z-index: 9999;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
}
.popup__body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	transform: translate(0px, 0px);
	opacity: 1;
}
.popup.open .item-popup-content {
	transform: translate(0px, 80px);
	opacity: 1;
}
.popup__content {
	@include flexbox;
	flex-direction: column;
	position: relative;
	z-index: 9999;
	padding: 30px;
	background-color: var(--dark-white-color);
	color: #000;
	width: 630px;
	height: 676px;
	border-radius: 30px;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
}
.image-popup {
	padding: 15px;
	width: 630px;
	height: 100%;
	border-radius: 30px;
	img {
		border-radius: 30px;
	}
}
.popup__close {
	position: absolute;
	top: 47px;
	right: 30px;
	@include bgImage("../../assets/icon/ClosePop.svg", center, no-repeat, auto);
	width: 26px;
	height: 26px;
}
.popup__content {
	h3 {
		@include textDefault($ff1, var(--blue-color), 45px, 600, 45px);
		line-height: 120%;
		text-align: left;
		margin-bottom: 40px;
	}
}
.popup__form-block {
	border-radius: 20px;
	background: var(--bg-white-color);
	padding: 20px;
	max-height: 405px;
	p {
		@include textDefault($ff2, var(--dark-color), 25px, 600, 25px);
		line-height: 120%;
		text-align: left;
		max-width: 346px;
		margin-bottom: 40px;
	}
	margin-bottom: 20px;
}
.popup-form {
	position: relative;
	textarea {
		width: 100%;
		border-radius: 15px;
		background: var(--dark-white-color);
		height: 93px;
		opacity: 0.5;
		padding: 10px;
		font-size: 16px;
		margin-bottom: 40px;
		::placeholder {
			color: rgba(47, 47, 47, 0.2);
			font-family: Inter;
			font-size: 16px;
			font-weight: 400;
			line-height: 143%;
			text-align: left;
		}
	}
}
.popup-form::after {
	content: "";
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../../assets/icon/sending.gif") center / 50px no-repeat;
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
}
.popup-form._sending::after {
	opacity: 1;
	visibility: visible;
}
.popup-form_item {
	input {
		width: 100%;
		background-color: inherit;
		padding: 10px 0;
		box-sizing: border-box;
		border-bottom: 1px solid rgba(47, 47, 47, 0.5);
		font-size: 16px;
		margin-bottom: 50px;
		::placeholder {
			color: rgba(47, 47, 47, 0.5);
			font-family: Inter;
			font-size: 18px;
			font-weight: 400;
			line-height: 143%;
			text-align: left;
		}
	}
}
.popup__btn {
	display: block;
	min-width: 570px;
	width: 100%;
	margin-left: -20px;
}
.popup-politic {
	@include textDefault($ff1, var(--dark-color), 12px, 400, 14px);
	line-height: 143%;
	text-align: left;
	max-width: 325px;
	opacity: 0.5;
	margin-top: 73px;
	a {
		@include textDefault($ff1, var(--dark-color), 12px, 400, 14px);
		text-decoration: underline;
		opacity: 0.5;
	}
}
.politic-text-popup {
	font-size: 26px;
}
.form__textarea._error {
	border: 1px solid red;
}
.form__input._error {
	border-bottom: 1px solid red;
}

//=======================================================================
//=========================Review Popup==================================

.popup__form-review {
}
.form__review-items {
}
.form__review-item {
}
.simple-rating {
	position: relative;
	font-size: 45px;
	display: inline-block;
	&::before {
		content: "★★★★★";
		color: #1d68d845;
		display: block;
	}
}
.simple-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}
.simple-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}
.simple-rating__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #1d68d83f;
	&::before {
		content: "★";
		display: block;
		transition: color 0.3s ease 0s;
	}
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
	color: #1d68d8;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
	color: #1d68d8;
}
.popup__content-politic {
	h3 {
		font-size: 32px;
	}
}
.politic-text-content {
	background-color: var(--bg-white-color);
	padding: 15px;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	border: none;
	overflow-y: scroll;
	scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
	font-size: 14px;
	opacity: 0.8;
	white-space: wrap;
	overflow-x: hidden;
	color: rgba(0, 0, 0, 0.544);
	line-height: 1;
	letter-spacing: 1;
}
//=======================================================================

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
//=======================================================================
@media (max-width: 642.98px) {
	.popup__content {
		padding: 20px;
		width: 355px;
		height: 492px;
		border-radius: 17px;
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: translate(0px, -100%);
	}
	.image-popup {
		padding: 10px;
		width: 355px;
		height: 100%;
		border-radius: 17px;
		img {
			border-radius: 17px;
		}
	}
	.popup__close {
		position: absolute;
		top: 26px;
		right: 20px;
		@include bgImage("../../assets/icon/ClosePop.svg", center, no-repeat, auto);
		width: 24px;
		height: 24px;
	}
	.popup__content {
		h3 {
			@include textDefault($ff1, var(--blue-color), 25px, 600, 25px);
			line-height: 120%;
			margin-bottom: 20px;
		}
	}
	.popup__form-block {
		border-radius: 11px;
		padding: 10px;
		max-height: 293px;
		p {
			@include textDefault($ff2, var(--dark-color), 20px, 600, 20px);
			line-height: 120%;
			max-width: 299px;
			margin-bottom: 20px;
		}
		margin-bottom: 20px;
	}
	.popup-form {
		textarea {
			width: 100%;
			border-radius: 9px;
			height: 83px;
			opacity: 0.5;
			padding: 5px;
			font-size: 16px;
			margin-bottom: 30px;
			::placeholder {
				color: rgba(47, 47, 47, 0.2);
				font-size: 14px;
				font-weight: 400;
				line-height: 143%;
			}
		}
	}
	.popup-form_item {
		input {
			width: 100%;
			background-color: inherit;
			padding: 5px 0;
			box-sizing: border-box;
			border-bottom: 0.5px solid rgba(47, 47, 47, 0.5);
			font-size: 15px;
			margin-bottom: 30px;
			::placeholder {
				color: rgba(47, 47, 47, 0.5);
				font-size: 15px;
				line-height: 143%;
			}
		}
	}
	.popup__btn {
		min-width: 0;
		min-width: 315px;
		width: 100%;
		margin-left: -10px;
	}
	.popup-politic {
		margin-top: 50px;
	}
}
