[class*="__container"] {
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 10px;
}

.wrapper {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: var(--bg-white-color);
}

body {
	font-family: $ff1;
	font-size: 16px;
	font-weight: 400;
	padding-top: 90px;
	background-color: var(--dark-white-color);
}

@media (max-width: 375.98px) {
	body {
		padding-top: 40px;
	}
}

html,
body {
	scroll-behavior: smooth;
}

body._lock {
	overflow: hidden;
}
